name: Release
on:
  push:
    branches:
      - main  # 或者你的默认分支名称

jobs:
  release:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./pngme

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      - name: Run tests
        run: cargo test

      - name: Build release
        run: cargo build --release

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          tag_name: Tag_${{ github.ref }}
          release_name: Release_${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./pngme/target/release/pngme  # 替换为你的实际应用程序路径
          asset_name: pngme  # 替换为你的实际应用程序名称
          asset_content_type: application/octet-stream
